@page
@model Jungle.Pages.PurchaseVerifiedModel
@{
}

<div class="text-center">
    <h2>Your order has submitted successfully</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>